@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    box-sizing: border-box;
}

body,html{
    &.drog{
        overflow: hidden;
        height: 100%;
    }
}

.canvas_box, .video_box, .signat_box, .tree_box{
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background: rgba(0,0,0,0.4);


    /* position: absolute; */
    opacity: 0;

    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;


    &.drog{
        overflow: hidden;
    }

    .out_btn{
        margin: 15px 0;
        button{
            width: 100px;
            padding: 10px;
            font-size: 18px;
            outline: 0;
            cursor: pointer;
            background: 0 0;
            display: inline-block;
            user-select: none;
            border: none;
            border-radius: 5px;
            background-color: #4080BE;
            color: #ffffff;
        }
        #canvas_clean, #signat_clean{
            background: rgb(28, 184, 65);
        }
        #canvas_cancle, #signat_cancle, #cam_cancle, #tree_cancle{
            background: rgb(114, 131, 118);
        }
    }
    
}


canvas{
    /* width: 600px;
    height: 400px; */
    /* border: #000 solid 1px; */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    cursor: crosshair;
    user-select: none;

    &.cursor_none{
        cursor: none;
    }

}
canvas#cvs_cursor{
    pointer-events: none;
    z-index: 15;
}
.drag_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.bg_glay{
    background-color: #dddddd;
}

video{
    // width: 100%;
    // height: 100%;
    background-color: #000000;
}



.text_menu  {
    position: absolute;
    width: 200px;
    padding: 2px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    z-index: 100;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}



.menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.menu-btn { 
    display: block;
    position: relative;
    color: #444;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 8px;
    border-radius: 3px;
}


button.menu-btn {
    background: none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
}


.menu-text {
    margin-left: 25px;
}


.menu-item:hover > .menu-btn { 
    color: #fff; 
    outline: none; 
    background-color: #2E3940;
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
    border: 1px solid #2E3940;
}

.menu-item-disabled {
    opacity: .5;
    pointer-events: none;
}

.menu-item-disabled .menu-btn {
    cursor: default;
}

.menu-separator {
    display:block;
    margin: 7px 5px;
    height:1px;
    border-bottom: 1px solid #fff;
    background-color: #aaa;
    

}






.canvas_menu{
    position: absolute;

    padding: 2px;
    margin: 0;

    z-index: 100;



    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    transition: transform 0.1s ease-out, opacity 0.2s ease-out;
    pointer-events: none;

    .canvas_item{
        width: 200px;
        display: block;
        position: relative;
        padding: 15px;
        white-space: nowrap;
        text-align: right;
        &:nth-child(2), &:nth-child(3){
            transform: translateX(40px);
        }
    }

    button{
        background-color: transparent;
        border: none;
        outline: none;
        background: none;
        line-height: normal;
        overflow: visible;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        cursor: pointer;
        text-align: right;

        font-size: 20px;
        font-family: 'Noto Sans TC', Arial, 'Microsoft JhengHei'; 
        position: relative;

        .menu-text{
            margin-left: 0;
            line-height: 50px;
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            color: #0881DF;
            text-shadow: 0 0 5px #ffffff, 0 0 8px #ffffff;
        }
        .menu-icon{
            width: 50px;
            height: 50px;
            display: inline-block;
            vertical-align: middle;

            background-size: contain;

        }

        
        input[type="file"]{ 
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

  
    }
}




.menu-show{
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;

}
.canvas_menu{
    &.menu-show{
        transform: translate(-50%, -50%) scale(1);
    }
}

.main_box{
    width: 768px;
    margin: auto;
    
    padding: 20px;


    border-radius: 10px;
    background: #fff;


    .drag_box, .signat_drag_box{
        position: relative;
        display: inline-block;
        user-select: none;
    }

    &.ifreme{
        width: 80vw;
        height: 95vh;
        iframe{
            width: 100%;
            height: calc(100% - 74px);
        }
    }
}


.menu_box{
    display: flex;
    ._width{
        width: 185px;
    }
    ._size{
        width: 525px;
    }
    ._color{
        width: 185px;
    }
}

.lightBorder{
    margin: 5px;
    padding: 4px;
    text-align: left;

    border-radius: 10px;
    background-color: #AEDAE7;

    #lineWidth, #input_txt, #markWidth, #fillColor{
        width: 80px;
    }
    
    label{
        margin: 3px;
        display: inline-block;
        input[type=radio]{
            display: none;
        }


        span.type_button{
            width: 35px;
            height: 30px;
          
            padding: 0;
            cursor: pointer;
            font-size: 22px;
            line-height: 26px;
            text-align: center;

            user-select: none;
            box-sizing: border-box;
            border: none;
            border: 2px solid #4080BE;
            border-radius: 5px;
            background-color: #4080BE;
            color: #ffffff;

            &:active{
                filter: brightness(0.8);
            }
        }

        input[type=radio]:checked ~ span.type_button{
            background-color: transparent;
            color: #4080BE;
        }


    }

    //  button.color_button{
    //     width: 35px;
    //     height: 30px;
    //     margin: 3px;
    //     padding: 0;
    //     display: inline-block;
       
    //     user-select: none;
    //     box-sizing: border-box;
    //     border: none;
    //     outline: 0;
    //     border: 2px solid #4080BE;
    //     border-radius: 5px;
    //     background-color: #4080BE;
    // }



    .txt{
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Noto Sans TC', Arial, 'Microsoft JhengHei'; 
        color: #4080BE;
    }
    #lineWidth, .line_button, #markWidth, .size_button, #input_txt, #fillColor, .color_button{
        height: 30px;
        margin: 3px;
        padding: 0;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        user-select: none;
        box-sizing: border-box;
        border: none;
        outline: 0;
        border: 2px solid #4080BE;
        border-radius: 5px;
        font-size: 18px;
        color: #4080BE;
        background-color: #ffffff;

        &:active{
            filter: brightness(0.8);
        }
    }

    .line_button, .size_button, .color_button{
        width: 35px;
        color: #ffffff;
        background-color: #4080BE;
        display: inline-flex;
        justify-content: center;
        align-items: center;

     
        .in_box{
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;

            background-color: #ffffff; 
        }
    }
    
    #input_txt{
        width: 442px;
        padding: 0 5px;
    }
}



// .lightBorder button.line::before{
//     content: '';
//     display: inline-block;
//     width: 20px;
//     background-color: #000000;
// }
// .lightBorder button.line.size1::before{
//     height: 1px;
// }
// .lightBorder button.line.size2::before{
//     height: 5px;
// }
// .lightBorder button.line.size3::before{
//     height: 9px;
// }
// .lightBorder button.line.size4::before{
//     height: 13px;
// }

img{
    position: absolute;
}

button#save_data{
    background: rgb(202, 60, 60);
    color: #ffffff;
    font-size: 20px;
}
button#back{
    background: #728376;
    color: #ffffff;
    font-size: 20px;
}